@import "../UI/Responsive.scss";
@import "../UI/Theme.scss";

.agentCardCon {
  transition: 0.5s all;
  margin-bottom: 4px;
  box-shadow: 3px 6px 9px #666;
  border-radius: 10px;
  &:hover {
    transform: translateY(-5px);
  }
  &:hover .options {
    opacity: 1 !important;
  }
  &:hover h6 {
    color: $theme-color;
  }
  .agent-box {
    border-radius: 10px;
    -webkit-box-shadow: 3.346px 3.716px 25px rgb(0 0 0 / 7%);
    box-shadow: 3.346px 3.716px 25px rgb(0 0 0 / 7%);
    background-color: #ffffff;
    max-width: 350px;
    width: 250px;

    
    @include respond(responsive) {
      width: 100%;
    }
    
    overflow: hidden;
    .agent-image {
      padding: 0;
      img {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .agent-details {
      border-radius: 0 10px 10px 0;
      -webkit-box-shadow: 3.346px 3.716px 25px rgb(0 0 0 / 7%);
      box-shadow: 3.346px 3.716px 25px rgb(0 0 0 / 7%);
      background-color: #ffffff;
      position: relative;
      padding: 6px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      height: 250px;
      a {
        color: $theme-color;
      }
      h6 {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $theme-color;
          margin-left: 10px;
          width: 34px;
          height: 34px;
          border-radius: 100%;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            background-color: $theme-color;
            border-radius: 50%;
          }
        }
      }
      h3 {
        line-height: 1.45;
        font-weight: 700;
        color: $faded-black;
        font-size:14px;
      }
      span {
        line-height: normal;
        margin-bottom: -2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        svg {
          font-size: 14px;
          margin-right: 5px;
        }
      }
      p {
        font-size: 13px;
        line-height: 1.8;
        margin: 10px 0;
        letter-spacing: 0.5px;
        color: #647589;
      }
      .btn {
        color: $pure-white;
        background-image: $theme-gradient2;
        border-radius: 30px;
        background-size: 200% auto;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border: 2px solid transparent;
        font-weight: 600;
        text-transform: capitalize;
        padding: 8px 30px 7px;
        border-radius: 8px;
        font-size: 14px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          opacity: 0.3;
          -webkit-box-shadow: -5.15px 8.572px 25px $theme-default4;
          box-shadow: -5.15px 8.572px 25px $theme-default4;
        }
        svg {
          margin-right: 7px;
        }
      }
    }
  }
}

.AgentsWrapper {
  padding: 30px 0;
  .heading {
    text-align: center;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    h3 {
      background-image: $theme-gradient1;
      padding: 5px 15px;
      border-radius: 5px;
      font-weight: 500;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      text-transform: capitalize;
      color: $pure-white;
    }
    p {
      padding-top: 15px;
      line-height: 1.3;
      text-transform: capitalize;
      font-weight: 700;
      color: $grey-dark;
    }
    span {
      padding-top: 5px;
      line-height: 1.3;
      text-transform: capitalize;
      font-weight: 700;
      color: $grey-dark;
      font-size: 14px;
    }
  }

  .listings {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 30px;
      gap: 30px;

      
    @include respond(responsive) {
      justify-content: center;
    }
    }
  }
}
