@import "../UI/Responsive.scss";
@import "../UI/Theme.scss";
.header_con {
  background-color: $faded-black2;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    
    .logo-Container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 3px;

      .icon {
        color: $theme-color;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      @include respond(responsive) {
        display: none;
      }

      ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        li {
          list-style: none;
          color: inherit;

          a {
            text-decoration: none;
            font-size: 14px;
            color: $pure-white;
            outline: none;
            border: none;
          }
          .active {
            color: $theme-color;
          }

          button {
            background-color: transparent;
            border: 1px solid $theme-color;
            outline: none;
            border-radius: 8px;
            padding: 5px 9px;
            color: $pure-white;
          }
        }
      }
    }
    .headerIcons {
      display: flex;

      nav {
        display: none;
        @include respond(responsive) {
          display: flex;
        }
      }
    }
  }
}
