.HeroCon{
    width: 100%;
    height: 100dvh;
    background-image: url("../../assets/images/main/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}